@import url("barriers.css");
@import url("flappybird.css");
@font-face {
    font-family: "coisa";
    src: url("../fonts/Pixel.ttf");
}
html,body{
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#place-game{
    font-family: Pixel;
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    background-color: deepskyblue;
    overflow: hidden;
}


#painel{
    position: absolute;
    top:10px;
    left:30px;
    z-index: 100;
}
