
@font-face {
    font-family: "coisa";
    src: url("../fonts/Pixel.ttf");
}
html,body{
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#place-game{
    font-family: Pixel;
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    background-color: deepskyblue;
    overflow: hidden;
}

.barreira{
    position: absolute;
    width: 70px;
}
.barreira.up{
    transform: rotate(180deg);
}
.barreira.a{
    top: 0;
    left: 50%;
    height: 40vh;
}
.barreira.b{
   bottom: 0;
   left: 50%;
   height: 40vh; 
}
.borda{
    width: 100%;
    height: 10%;
    background: linear-gradient(90deg,#639301,#a5e82e);
    border:3px solid black;
}
.corpo{
    width: 100%;
    height: 90%;
    background: linear-gradient(90deg,#639301,#a5e82e);
    border:3px solid black;
}
#painel{
    position: absolute;
    top:10px;
    left:30px;
    z-index: 100;
}
