.modal{
    position: absolute;
    visibility: visible;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    left: 0px;
    top: 0px;
    background: rgba(0, 0, 0, .7);
    transition: all .2s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal.hide{
    visibility: hidden;
}

.box{
    width: 350px;
    height: 350px;
    border-style: outset;
    display: flex;
    background: black;
    color: white;
    flex-direction: column;
    justify-content:space-evenly
}
.box img{
   width: 100%;
}
.box button{
    padding: 10px;
    width: 100%;
    transition: all .5s;
    cursor: pointer;
    font-size: 15pt;
 }
 .box button:hover{
    background: chartreuse;
    color: white;

 }
 .box button:active{
    background: rgb(255, 251, 0);

 }
 .box input{
    padding: 10px;
    
 }
 .youlose{
    position: absolute;
    visibility: visible;
    z-index: 2000;
    width: 100vw;
    height: 100vh;
    left: 0px;
    top: 0px;
    background: rgba(0, 0, 0, .7);
    transition: all .2s;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .youlose.hide{
    visibility: hidden;
}
 .boxlose{
    width: 350px;
    height: 350px;
    border-style: outset;
    display: flex;
    background: black;
    color: white;
    flex-direction: column;
    justify-content:space-evenly
}
.boxlose img{
   width: 100%;
}
.boxlose button{
    padding: 10px;
    width: 100%;
    transition: all .5s;
    cursor: pointer;
    font-size: 15pt;
 }
 .boxlose button:hover{
    background: chartreuse;
    color: white;

 }
 .boxlose button:active{
    background: rgb(255, 251, 0);

 }
 .boxlose input{
    padding: 10px;
    
 }